# Day 1: Python for Machine Learning

## Section 1 : Python Basics

Installing Python:
Use anaconda or pip to install python. consider creating a virtual environment.

### Variables 
Variables are used to store data. they are created when you assign value to them.

In [2]:
#Example
x = 10
name = "Aniket"

### Data Types
Python has several built-in data types such as:
int
float
str
list
tuple
dict

In [3]:
a = 1 #int
b = 2.0 #float
c = "aniket" #string
d = [1,2,3,'hello',True] #list
e = True
f = (1,2,3)
g = {"Name" : "Aniket", "age" : 12}

### Operators
Python supports various operators for arithmatic, comparison, logical operation

In [4]:
a = 5
b = 2

sum_result = a + b
subtraction_result = a - b
multiplication_result = a * b
division_result = a / b
modulo_result = a % b
power_result = a ** b

### Control flow
--> if statements, loops and exception handeling

In [5]:
age = 18
if age >=18:
    print("You are an Adult")
else:
    print("You are an Minor")

Your are an Adult

In [6]:
if age<15:
    print("You are a kid")
elif age>15 and age<18:
    print("You are a teenager")
else:
    print("You are an adult")

You are an adult

In [7]:
for i in range(5):
    print(i)

0
1
2
3
4

In [1]:
idx = 0
while idx<10:
    print(idx+1)
    idx +=1

1
2
3
4
5
6
7
8
9
10

In [2]:
try:
    result = 10/0
    print(result)
except ZeroDivisionError:
    print("Can not divide by Zero")

Can not divide by Zero

`try` Block:

The try block contains the code that might raise an exception.
If an exception occurs within this block, the control immediately jumps to the corresponding except block.


`except` Block:

The except block specifies the type of exception it can handle (e.g., ZeroDivisionError).
If an exception of the specified type occurs in the try block, the code inside the except block is executed.
You can have multiple except blocks to handle different types of exceptions.

In [5]:
try:
    result = 10/0
except:
    print("Error")
else:
    print("result is {} ".format(result))

Error

`finally` Block (Optional):
The finally block contains code that will always be executed, whether an exception occurs or not.
It is typically used for cleanup operations (e.g., closing files or releasing resources).

In [11]:
try:
    result = 10/2
except ZeroDivisionError:
    print("Cannot divide by Zero")
except ValueError:
    print("Value Error")
else:
    print(result)

5.0

In [13]:
class CustomError(Exception):
    def __init__(self,message = "A custom Error occured"):
        self.message = message
        super().__init__(self.message)

In [14]:
def neg_checker(value):
    if value<0:
        raise CustomError("Input value must be non-negative")

In [17]:
try:
    user_input = int(input("Enter a number"))
    neg_checker(user_input)
except CustomError as ce:
    print("Custome Error caught: {}".format(ce))
except ValueError:
    print("Invalid input. please enter valid number")

Enter a numberak
Invalid input. please enter valid number

#### Lists

In [19]:
#creating empty list

ls = []
print(ls)

ls2 = list()
print(ls2)

[]
[]

In [22]:
a = [1,"hello",True,1.3,[1,2,3]]

In [23]:
a

[1, 'hello', True, 1.3, [1, 2, 3]]

In [24]:
a[0]

1

In [26]:
a[4][1]

2

In [27]:
#first element
a[0]

1

In [28]:
#last element
a[-1]

[1, 2, 3]

In [29]:
#modifying list
a[4] = 5

In [30]:
a

[1, 'hello', True, 1.3, 5]

In [31]:
#adding element to list at the end
a.append("aniket")

In [32]:
a

[1, 'hello', True, 1.3, 5, 'aniket']

In [33]:
a.insert(1,3.14) # insert(index, value)

In [34]:
a

[1, 3.14, 'hello', True, 1.3, 5, 'aniket']

In [35]:
#deleting the element from the list
a.pop()

'aniket'

In [36]:
a

[1, 3.14, 'hello', True, 1.3, 5]

In [37]:
a.pop(2)

'hello'

In [52]:
a = [1,2,3,4]
b = ["one","two","three"]

print(a)
print(b)

[1, 2, 3, 4]
['one', 'two', 'three']

In [53]:
a.extend(b) #extend appends the values from b to list a
print(a)

[1, 2, 3, 4, 'one', 'two', 'three']

In [54]:
a = a+b #this is as same as extend

In [55]:
a

[1, 2, 3, 4, 'one', 'two', 'three', 'one', 'two', 'three']

In [57]:
a.remove('one')

In [58]:
a

[1, 2, 3, 4, 'two', 'three', 'one', 'two', 'three']

the difference between pop and remove is that pop takes index of the 
element to be removed `pop(index)` and remove takes the element which is need to be removed `remove(element)`

In [60]:
#search the element in the list
index = a.index("two")
print(index)

4

In [61]:
#count the occurence of element in the list
n = a.count("two")
print(n)

2

In [63]:
#sorting the list
a = [2,6,3,87,1,8,7]
a.sort()
print(a)

[1, 2, 3, 6, 7, 8, 87]

In [71]:
a.reverse() #reverse the list
a

[87, 8, 7, 6, 3, 2, 1]

In [72]:
a.clear() #emptied the list

In [74]:
a = b.copy()

In [75]:
a

['one', 'two', 'three']

#### Tuple

tuples are same as list except they are immutable.
i.e. the tuple cannot be modified

In [77]:
#creating a tuple
a = (1,2,3)
b = tuple((1,2,3))
print(a)
print(b)

(1, 2, 3)
(1, 2, 3)

In [99]:
#creating empty tuple
a = ()
b = tuple()
print(type(a))

c = (1,) #tuple with only one element
print(type(c))

<class 'tuple'>
<class 'tuple'>

In [84]:
a = (1,2,3,4,5,3,4,5,5)
# first element
print(a[0])

#last element
print(a[-1])

1
5

In [85]:
print(a.count(5))

3

In [86]:
print(a.index(4))

3

In [91]:
a = (1,2,3)
b = ("one","two","three")

a = a + b
print(a)

b = b*2 #repeated tuple
print(b)

(1, 2, 3, 'one', 'two', 'three')
('one', 'two', 'three', 'one', 'two', 'three')

In [94]:
#unpacking of tuple
a = (1,2,3,4,5)

one,two,three, *numbers = a
print(one,two,three,numbers)

1 2 3 [4, 5]

#### Sets

No duplicate, unordered, mutable

In [95]:
#creating a set

s1 = {1,2,3,4}
s2 = set((1,4,5,7))

print(s1)
print(s2)

{1, 2, 3, 4}
{1, 4, 5, 7}

In [102]:
#create a empty set
s3 = set()
print(type(s3))

<class 'set'>

In [104]:
#adding elemet to set

s1.add(5)
print(s1)

{1, 2, 3, 4, 5}

In [105]:
#remove element from set
print(s1.remove(1))

None

In [106]:
print(s1)

{2, 3, 4, 5}

In [109]:
a = {1,2,3}
b = {"one","two","three"}

u = a.union(b)
print(u)

{1, 2, 3, 'two', 'one', 'three'}

In [117]:
a = {1,2,3,4,5}
b = {1,2,8,9,6,4}

i = a.intersection(b)
print(i)

{1, 2, 4}

In [114]:
d = a.difference(b)  # A - (A intersection B)
print(d)

{8, 9, 6}

In [119]:
a.discard(89)
print(a)

{1, 2, 3, 4}

the difference between remove and discard is that if element is not in set then remove will throw an error unlike discard

In [120]:
a.update(b)

In [122]:
a

{1, 2, 3, 4, 6, 8, 9}

#### Dictionary

key - value pairs. keys are unique

In [123]:
#creating a dictionary

dict = {"name":"aniket","age":21,"city":"Pune"}
print(dict)

{'name': 'aniket', 'age': 21, 'city': 'Pune'}

In [125]:
#accesing dictionary elements

print(dict["name"],dict["age"],dict["city"])

aniket 21 Pune

In [126]:
#modify dictionary

dict["city"] ="wardha"
print(dict)

{'name': 'aniket', 'age': 21, 'city': 'wardha'}

In [127]:
dict["mob"] = 454252133

In [128]:
dict

{'name': 'aniket', 'age': 21, 'city': 'wardha', 'mob': 454252133}

In [129]:
dict.pop('city')

'wardha'

In [130]:
dict

{'name': 'aniket', 'age': 21, 'mob': 454252133}

In [134]:
dict.get('name',0)

'aniket'

In [135]:
all_key = dict.keys()

In [139]:
type(all_key)

dict_keys

In [140]:
for key in all_key:
    print(key)

name
age
mob

In [143]:
all_values = dict.values()

In [144]:
all_values

dict_values(['aniket', 21, 454252133])

In [146]:
dict_item = dict.items()

In [152]:
for key,value in dict_item:
    print(key,value)

name aniket
age 21
mob 454252133

### Functions

In [154]:
#basic structure of a function

"""
def function_name(param1,param2,....):
    code block
    
    return value
"""

def greet(name):
    print("hello, {}!".format(name))
    
    
greet("Aniket")

hello, Aniket!

In [156]:
def add(x,y):
    return x+y


add(5,7)

12

In [158]:
def power(base,exponent = 2):
    result = base ** exponent
    return result


# power(4,5)
power(5)

25

In [163]:
#variable length arguments

def print_arg(*args,**kwargs):
    print("Positional Argument: ",args)
    print("keyward arguments: ",kwargs)
    
    
print_arg(1,2,3,name="aniket",age=35)

Positional Argument:  (1, 2, 3)
keyward arguments:  aniket

In [164]:
#lambda function - Anonymous function

multiply = lambda x,y: x*y

multiply(4,8)

32

In [171]:
numbers = [1,2,3,4,5]

squares = map(lambda x: x**2,numbers)
list(squares)

[1, 4, 9, 16, 25]

In [172]:
f= filter(lambda x:x>2,numbers)
list(f)

[3, 4, 5]